[Desktop Entry]
Name=Aftershock
Comment=Bring down the buildings with your earthquake power!
Exec=aftershock %f
Type=Application
Categories=Game;
Terminal=false
Icon=icon
