[Desktop Entry]
Name=Love Jam 2022
Comment=This awesome, awesome game.
Exec=love-jam-2022 %f
Type=Application
Categories=Game;
Terminal=false
Icon=icon
